
<div class="ct-footer" style="">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-push-6">
                <ul class="list-unstyled list-inline text-right ct-fw-300 ct-navbar--footer">
                    <li><a href="@Url.Action("Index","Default")">Home</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-md-pull-6">
                <ul class="list-unstyled list-inline ct-copyright">
                    <li>Copyright @DateTime.Now.Date.Year | Omni Learning and Teaching Environment</li>
                </ul>
            </div>
        </div>
    </div>
</div>

