@model Web_omlate.Models.QuizAttempt

@{
    ViewBag.Title = "AttemptQuiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ct-u-paddingBoth20">
    <div class="row">
        <div class="col-md-12">
            <div class="ct-textBox ct-textBox--thin">
                <div class="ct-textBox--heading">
                    <h4 class="ct-fw-700 ct-u-colorMotive">
                        Quiz Attempt
                    </h4>

                            @Html.Hidden("QuizID", (int)ViewBag.quizId)
                            @Html.Hidden("LearnerID", (String)ViewBag.learnerId)
                            @Html.Hidden("OfferedCourseID", (String)ViewBag.quizId)

                </div>
            </div>

        </div>
    </div>
</div>
